{% extends '_base.twig' %}

{% block title %}
  Coffee &ndash; {{ parent() }}
{% endblock %}

 {% block activeCoffee %}
 active
 {% endblock %}

{% block content %}
  <main>
    <div class="container">

      <h1 class="mt-5 mb-3">Coffee</h1>

      <p class="lead">
        We work with specialty coffee from current crops which is&nbsp;carefully roasted. Our coffee is&nbsp;fruity, juicy and&nbsp;never boring. We bring you the&nbsp;best from leading european specialty roasteries, currently mostly from
        <a class="text-primary" href="http://www.squaremilecoffee.com">Square Mile Coffee Roasters</a>, a&nbsp;multi award winning coffee roasting company based in&nbsp;East London.
      </p>
      <p class="my-2">You can currently buy these beans in&nbsp;350g bags</p>

      <div class="row justify-content-center">
        {% for coffee in coffees %}
          <div class="col-12 col-md-6 mt-2 mb-4">
            <div class="card border-light bg-light mx-auto h-100">

              <div class="card-header border-bottom-secondary bg-muted">
                <h2 class="card-title mb-0">
                  {{ coffee.name }}
                  {% if coffee.name|length < 16 %}
                    <br class="d-sm-none d-md-block">
                    {% endif %}
                  ({{ coffee.country }})
                </h2>
              </div>

              <img class="card-img-top" src="{{ coffee.img }}">

              <div class="card-body">
                <p class="card-text font-italic">
                  {{ coffee.taste|join(" / ")}}
                </p>
                <p class="card-text">
                  {{ coffee.info }}
                </p>
              </div>

            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}
